.dashboardBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.dashboard-container {
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(125px, auto);
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.dashboard-title {
  display: grid;
  grid-area: 1/1/2/2;
  justify-items: center;
  align-items: center;
}
.dashboard-title a{
  text-decoration: none !important;
  text-shadow: none;
  color: black;
}
.dashboard-year {
  display: grid;
  grid-area: 1/3/2/4;
  justify-items: center;
  align-items: center;
}


h3 {
  font-size: 1.3rem;
}
.dashboard-temp {
  display: grid;
  grid-area: 3/1/4/2;
  justify-items: center;
  align-items: center;
}

.dashboard-city {
  display: grid;
  grid-area: 3/3/4/4;
  justify-items: center;
  align-items: center;
}

.dashboard-city-title {
  width: max-content;
}

@media (max-width: 760px) {
  .dashboardBackground {
    width: 100vw;
    min-width: 100%;
  }

.dashboard-container{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 0.5fr 4fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "card-container"
    "."; 
}

.dashboard-title{
  display: none;
}
.dashboard-city{
  display: none;
}
.dashboard-temp{
  display: none;
}
.dashboard-year {
  display: none;
}

  
}

@media (max-width: 480px) {
  .dashboardBackground {
    height: 100%;
    min-height: 100vh;
  }
  .card-container {
    grid-template-rows: auto;
    grid-template-areas:
      "card-date"
      "title-position"
      "forecast-card-container"
      "aside-container";
  }
  .dashboard-container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.1fr 4fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "card-container"
      "."; 
  }
  
  .dashboard-title{
    display: none;
  }
  .dashboard-city{
    display: none;
  }
  .dashboard-temp{
    display: none;
  }
  .dashboard-year {
    display: none;
  }
  
}