.temp-wind{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.title-city{
    font-size: 1.5rem;
}

h2{
    font-size: 3rem;
}