.forecast-container-per-day{
    height: 100%;
    width: 90%;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}