.forecast-per-day-card{
    width: 100%;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1.5fr 1.5fr 1.5fr; 
    gap: 0px 0px;
    margin-left: 10px;
    margin-right: 10px; 
    align-items: center;
    justify-items: center;
}


.imgIcon-div,
.day-div,
.temp-div {
  text-align: center;
}

.day-display,
.temp {
  margin: 0;
}



@media screen and (max-width: 760px){
    img{
        width: 40px;
    }
    .day-display{
        font-size: 0.8rem;
        align-self: center;
    justify-self: center;
    }
    .temp{
        font-size: 0.8rem;
    }
  }